

.certificates   {
    background: linear-gradient(purple, orange);

    width: 90vw;
    padding: 5vh 5vw;

}

.certificates h2{
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
}



.certificates .images{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 5%

}


.certificates img {
    width: 100%;
}