
footer  {
    background: rgb(50, 50, 50);

    font-family: "IBM Plex Mono";

    padding: 1rem;
}

footer *    {
    color: #fff;
}

.media-contact  {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 2rem;

    margin: 0 auto 1rem auto;
}

footer img  {   
    height: 2rem;
}


.contact    {
    margin-left: 2rem;
    margin-bottom: 3rem;
}

footer h3   {
    font-size: 1.5rem;
    text-decoration: underline;

    margin-bottom: .4rem;
}