
.interests .blocks {
    font-family: Koulen;

    display: grid;
    grid-template-columns: repeat(2, 37.5vw);
    grid-template-rows: repeat(2, 16.25vw);
    gap: 5vw;

    width: 80vw;
    margin-inline:auto;
    margin-bottom: 10vh;
}

.running    {
    grid-row: 1/3;
}


/*  To place text at correct place in div   */

.blocks p{
    color: #fff;

    font-size: 2rem;

    position: absolute;
    bottom: 0rem;
}

.music p, .programming p  {
    left: 4%;
}

.running p  {
    text-align: center;
    width: 100%;
}


/*  Background images of interest blocks    */

.running    {
    background: url(../img/running.png) no-repeat center, #a3dde1;
    background-size: cover;
}

.music    {
    background: url(../img/music.jpg) no-repeat center, #a3dde1;
    background-size: cover ;
}

.programming    {
    background: url(../img/code.jpg) no-repeat center, #a3dde1;
    background-size: cover;
}



/*  Hover animation */
.blocks > *{
    transition: all .15s linear 0s;
    position: relative;
}

.blocks > *:hover   {
    transition: all .15s linear 0s;
    transform: scale(1.05);
    transform-origin: center;

}
