@import url(work.css);
@import url(education.css);
@import url(merit.css);
@import url(interests.css);
@import url(footer.css);


@import url(standard.css);
@import url(fonts/fonts.css);

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

/* Css Reset */
*   {
    list-style: none;
    text-decoration: none;
    font-style: normal;
    gap: 0;

    width: auto;
    height: auto;

    border: 0;
    padding: 0;
    margin: 0;
}

html    {
    font-family: "roboto";
}


.body   {
    background: #b7b7b7;
}

header  {
    background: url(../img/20210701_184204.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;

    height: 100vh;
}

h1  {
    background: rgba(123, 123, 123, 0.54);
    color: #fff;

    font-size: 3rem;
    
    position: absolute;
    left: 3vw;
    top: 10vh;

    padding: 3vw;
    border-radius: .5vh;
}




@media screen  and (max-width:1000px) {
    html    {
        font-size: 12px;
    }
}