
.work   {
    width: 50vw;
    margin-inline: auto;
    margin-bottom: 10rem;
}


.professions    {
    display: grid;
    grid-template-columns: 40% 50%;
    grid-gap: 10%;

    margin-bottom: 10vh;
}

.professions:last-child    {
    margin-bottom: 0vh;
}


.professions img    {
    width: 10rem;

    margin-left: auto;

}